body {
  background-image: url(https://fondosmil.com/fondo/15994.jpg);
background-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  font-family: 'Permanent Marker', cursive;
  width: 200px;
  background: violet;
  cursor: pointer;
  
  transition: 1s;
}
button:hover{
background-color:pink;
transform: skewX(180deg);
}
.App {


}

.Timer {
background-color: gold;

  color: blue;
}

.Play {
  font-family: 'Permanent Marker', cursive;
  background: inherit;
  text-align: center;
  color: gold;
}

.Score {
  font-family: 'Permanent Marker', cursive;

  color: gold;
}

.HiScores {
  font-family: 'Permanent Marker', cursive;

  position: absolute;
  color: gold;
}

.Top {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.PlayArea {

  margin: 10px;
  width: 300px;
  height: 200px;
  background-color: purple;
  transition: 1.5s;
  border-radius: 25px;
}
.PlayArea:hover{
background-color: pink;
}
